#search-row {
    flex: 0 0 var(--row-height);
    align-items: center;
}

#unselected-search-field {
    flex: 1 1 auto;
}

#select-all-button {
    flex: 0 0 auto;
}

#name {
    flex: 1 0 auto;
}

#unselected-list-view {
    flex: 1 1 auto;
}
