#search-field {
    margin: 0px;
    margin-bottom: var(--main-gap);
}

#selected-shapes-controls {
    flex: 0 0 var(--element-height);
    align-items: center;
    margin-bottom: var(--main-gap);
}

#selected-shapes-controls > * {
    margin-right: var(--main-gap);
}

.filter-toggle {
    flex: 0 0 55px;
}

#control-spacer {
    flex: 1 1 auto;
}

.control-button {
    flex: 0 0 35px;
}

#selected-list-view {
    flex: 1 1 auto;
}
