#root {
    flex-direction: row;
    /* --main-gap: 3px;
    --border-color: rgba(128, 128, 128, 0.8);
    --element-height: 20px; */
}


#left-panel {
    flex: 1 1 65%;
}

#right-panel {
    flex: 1 1 35%;
}

#general-controls-container {
    flex: 0 0 auto;
}

#selected-content-container {
    flex: 1 1 auto;
}

